<h1> Form to make a cat </h1>
<form action="<%=cats_url%>" method="POST">
    <label>Name:
        <input type="text" name="cat[name]" value="" />
    </label>
    <br>
    <label>Sex:
        <input type="text" name="cat[sex]" value="">
    </label>
    <br>
    <label>Birthday:
        <input type="date" name="cat[birth_date]" value="">
    </label>
    <br>
    <label>Description:
        <input type="text_area" name="cat[description]" value="">
    </label>
    <br>
    <label>Color:
        <select name="cat[color]">
        <option disabled selected>-- PleaseSelect --</option>
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="brown">brown</option>
        </select>
    </label>
    <br>
    <label>Sex:
    <form action="/action_page.php">
      <p>Please select gender:</p>
      <input type="radio" id="male" name="gender" value="M">
      <label for="male">Male</label><br>
      <input type="radio" id="female" name="gender" value="F">
      <label for="female">Female</label><br>
    </label>

    <input type="submit" value="Create cat">
</form>
