#main {
    text-align: center;
}

.row {
    display: flex;

}

.tile {
    border-style: outset;
    height: 30px;
    width: 30px;
    background-color: lightskyblue;
    position: relative;

}

.bombed, .flagged {
    color: red

}

.explored {
    border-style: inset;


}

